@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

body{
  background-color:#010c14; 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   /* overflow: hidden;  */
  overflow-x: hidden; 
  transition: all .5s linear;
  outline: none; border:none;
  text-decoration: none;
}


.home{
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 11vh;
  font-family: 'Anton';
  text-transform: uppercase;
  position: relative;
  top: -2vh;
  left: 20vh;
}
.home p {
  position: relative;
  top: -12vh;
}
.one{
  font-size: 17vh;
  }
  #jay{
  color: #f81e42;
  }
  
  .navbar nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    font-size: 5vh;
    position: relative;
    top: -1vh;
    left: 130vh;
  }
  .navbar  nav ul a{
    margin: 2vh;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    display: block;
    color: white;
  }


    @media screen and (max-width: 810px) {
      .home{
        text-align: center;
        font-size: 5vh;
        margin: 2vh;
        left: 2%;
        top: 25vh;
      }
      .home p {
        position: relative;
        top: -5vh;
      }
      .one{
        font-size: 9vh;
      }
    }

     


     .container {
      width: 100%;
      height: 100%;
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: auto auto;
      position: relative;
      top: 15%;
    }
    .container .card {
      position: relative;
      width: 500px;
      height: 150px;
      background-color: #010c14;
      overflow: hidden;
      margin: 20px;
    }
    
    .container .card h2 {
      z-index: 99;
      font-family: "Poppins", sans-serif;
      position: absolute;
      bottom: -30px;
      right: 130px;
      font-size: 40px;
      font-weight: 700;
      color: #fff;
    }
    .container .card .fa-arrow-right {
      z-index: 100;
      position: absolute;
      right: 75px;
      bottom: 25px;
      font-size: 40px;
      cursor: pointer;
      opacity: 0  ;
    }
    .container .card p {
      font-family:'Anton', sans-serif;
      z-index: 99;
      position: absolute;
      top: 20px;
      right: 70px;
      color: #010c14;
      opacity: 0.7;
      font-size: 12px;
      letter-spacing: 1px;
      writing-mode: vertical-lr;
    }
    .container .card .pic {
      z-index: 100;
      width: 400px;
      height: 200px;
      background-image: url("https://images.unsplash.com/photo-1525543907410-b2562b6796d6?ixlib=rb-0.3.5&s=9ff8e5e718a6a40cbd0e1471235912f4&auto=format&fit=crop&w=3452&q=80");
      background-size: 100% 100%;
      filter: grayscale(100%);
    }
    .container .card .social {
      position: absolute;
      left: 60px;
      top: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 180px;
      height: 64px;
      border-radius: 80px;
      opacity: 0;
    }
    .container .card button {
      position: absolute;
      right: 14px;
      bottom: 14px;
      width: 30px;
      height: 30px;
      background-color: #f81e42;
      border: none;
      border-radius: 30px;
      cursor: pointer;
      outline: none;
      mix-blend-mode: hard-light;
    }
    .container .card button {
      background-color: #f81e42;
    }




/* about */

.about h1{
  color: #fff;
}


/* contact */

.contact h1{
  color: #fff;
}