@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

body{
  background-color:#010c14; 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
.App {
  /* text-align: center; */
}


.home{
  min-height: 100vh;
  color: #fff;
  font-size: 11vh;
  font-family: 'Anton';
  text-transform: uppercase;
  position: relative;
  top: -2vh;
  left: 20vh;
}
.home p {
  position: relative;
  top: -12vh;
}
.one{
  font-size: 17vh;
  }
  #jay{
  color: #f81e42;
  }

  .home nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    font-size: 5vh;
    position: relative;
    top: 1vh;
    left: 110vh;
  }
  .home  nav ul a{
    margin: 2vh;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    display: block;
    color: white;
  }


    @media screen and (max-width: 810px) {
      .home{
        text-align: center;
        font-size: 5vh;
        margin: 2vh;
        left: 2%;
        top: 25vh;
      }
      .home p {
        position: relative;
        top: -5vh;
      }
      .one{
        font-size: 9vh;
      }
    }
